* {
    margin: 0; /* Remove margens de todos os elementos */
    padding: 0; /* Remove preenchimento de todos os elementos */
    box-sizing: border-box; /* Garante que padding e bordas sejam incluídos nas dimensões totais do elemento */
    font-family: "Poppins", sans-serif; /* Define a fonte padrão para todos os elementos */
}

body {
    background-color: #fff; /* Define a cor de fundo do corpo do site como branco */
}

.interface {
    max-width: 1280px; /* Define a largura máxima da interface */
    margin: 0 auto; /* Centraliza a interface horizontalmente */
}

/* Estilo do header */

header {
    width: 100%; /* O cabeçalho ocupa 100% da largura da tela */
    padding: 40px 0; /* Adiciona 40px de espaçamento acima e abaixo */
    box-shadow: 0 2px 2px rgba(255, 106, 106, 0.789); /* Adiciona uma sombra abaixo do cabeçalho */
    position: sticky; 
    background-color: white; /* Define a cor de fundo do cabeçalho como branco */
    top: 0;
}

header .receita-maneira h1 {
    color: #ff0000;
}

header .receita-maneira .sp-01 {
    color: green;
}

header .interface {
    display: flex; /* Exibe os elementos da interface em linha (layout flexível) */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

header .menu-desktop nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
}

header .menu-desktop nav ul li {
    display: inline-block; /* Exibe os itens do menu lado a lado */
    margin: 0 40px; /* Adiciona espaçamento de 40px horizontalmente entre os itens */
}

header .menu-desktop nav ul li a {
    color: #ff0000; /* Define a cor do texto dos links do menu */
    text-decoration: none; /* Remove sublinhado dos links */
    display: inline-block; /* Exibe o link como bloco em linha */
    transition: 0.2s; /* Transição suave ao interagir com o link */
}

header .menu-desktop nav ul li a:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho do link ao passar o mouse */
}

header .btn-contato button {
    width: 140px; /* Define a largura do botão */
    height: 50px; /* Define a altura do botão */
    font-size: 18px; /* Define o tamanho da fonte dentro do botão */
    background-color: transparent; /* Define o fundo do botão como transparente */
    border: 1px solid rgb(255, 23, 23); /* Borda vermelha no botão */
    color: rgb(255, 23, 23); /* Define a cor do texto do botão */
    cursor: pointer; /* Mostra o cursor como uma mão ao passar sobre o botão */
    transition: 0.5s; /* Transição suave de 0,5s ao interagir com o botão */
}

header .btn-contato button:hover {
    background-color: rgb(255, 224, 224); /* Altera a cor de fundo ao passar o mouse sobre o botão */
}

main .imagem-fundo img {
    width: 100%;
}

main .divs .container {
    display: flex;             /* Garante que as divs fiquem lado a lado */
    justify-content: space-around; 
}

main .divs .container .box {
    width: 200px;
    height: 200px;
    background-color: white;
    text-align: center;
    line-height: 100px; /* Alinha o texto verticalmente */
    margin: 20px;
    padding: 20px 0;  /* Espaçamento em cima e embaixo do contêiner */
    border: #ff0000 solid 1px;
}







